<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<div class="topo">
		<img class="logotipo" alt="Terezinha Bandeira"
			src="/images/Logotipo.jpg" />
	</div>
	<nav>
		<ul>
			<li><a href="inicio">Home</a></li>
			<li><a href="somos">Quem Somos</a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="contato">Contatos</a></li>
		</ul>
	</nav>


	<div class="tudo">
		<div class="imagem1">
			<img alt="imagem1" src="/images/imagem_1.jpg" />
		</div>
		<div class="text_explicativo">
			<h3>Interior Design Studio</h3>
			<p>Interior Design Studio I'm a paragraph. Click here to add your
				own text and edit me. I’m a great place for you to tell a story and
				let your users know a little more about you.</p>
		</div>
		<div class="imagem2">
			<img alt="imagem2" src="/images/imagem_2.jpg" />
		</div>
		
		<div class="email">

			<h3>joaodasilva@mail.com</h3>
			<p>Celular 92559-25955</p>
		</div>




		<footer>
			<p>&copy; Desenvolvido por Wladimir Alves Bandeira</p>
		</footer>

	</div>



	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-2.1.4.min.js"></script>

</body>
</html>