<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<div class="topo">
		<img class="logotipo" alt="Terezinha Bandeira"
			src="/images/Logotipo.jpg" />
	</div>
	<nav>
		<ul>
			<li><a href="inicio">Home</a></li>
			<li><a href="somos">Quem Somos</a></li>
			<li><a href="#">Serviços</a></li>
			<li><a href="contato">Contatos</a></li>
		</ul>
	</nav>

	<div class="tudo">
		<div class="subtopo">
			<h2>Serviços</h2>
		</div>

		<div class="servicos_prestados">
			<img class="images_services_juri" src="/images/juridico.jpg" />
			<div class="descricao_services">
				<h2>Setor Juridico</h2>
				<p>Com dez advogados responsáveis por monitorar 276 hotéis na
					América do Sul, o departamento jurídico da hoteleira Accor decidiu
					cobrar pelos serviços praticados sempre que é chamado pelas
					unidades para resolver questões específicas de cada
					estabelecimento. “É um jurídico que tem receita, embora isso seja
					incomum na área de suporte”, afirma Magda de Castro Kiehl, diretora
					jurídica e de riscos da rede. O trabalho desenvolvido por sua
					equipe venceu o 1º Prêmio Nacional de Melhores Práticas na Gestão
					de Departamentos Jurídicos, anunciado na noite de terça-feira
					(24/11).</p>
			</div>
			<img class="images_services_cont" src="/images/contabil.jpg" />
			<div class="descricao_services">
				<h2>Setor Contabil</h2>
				<p>Com dez advogados responsáveis por monitorar 276 hotéis na
					América do Sul, o departamento jurídico da hoteleira Accor decidiu
					cobrar pelos serviços praticados sempre que é chamado pelas
					unidades para resolver questões específicas de cada
					estabelecimento. “É um jurídico que tem receita, embora isso seja
					incomum na área de suporte”, afirma Magda de Castro Kiehl, diretora
					jurídica e de riscos da rede. O trabalho desenvolvido por sua
					equipe venceu o 1º Prêmio Nacional de Melhores Práticas na Gestão
					de Departamentos Jurídicos, anunciado na noite de terça-feira
					(24/11).</p>
			</div>
			<img class="images_services_adm" src="/images/adm.jpg" />
			<div class="descricao_services">
				<h2>Setor Administrativo</h2>
				<p>Com dez advogados responsáveis por monitorar 276 hotéis na
					América do Sul, o departamento jurídico da hoteleira Accor decidiu
					cobrar pelos serviços praticados sempre que é chamado pelas
					unidades para resolver questões específicas de cada
					estabelecimento. “É um jurídico que tem receita, embora isso seja
					incomum na área de suporte”, afirma Magda de Castro Kiehl, diretora
					jurídica e de riscos da rede. O trabalho desenvolvido por sua
					equipe venceu o 1º Prêmio Nacional de Melhores Práticas na Gestão
					de Departamentos Jurídicos, anunciado na noite de terça-feira
					(24/11).</p>
			</div>
		</div>

	</div>
	<footer>
		<div class="row">
			<div class="rodape">
				<p>&copy; Desenvolvido por Wladimir Alves Bandeira</p>
			</div>
		</div>
	</footer>


	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-2.1.4.min.js"></script>

</body>
</html>


